.logo {
    width: 17%;
    margin-right: 0px;
}

.navs-bg {
    background: rgba(56, 132, 247, 0.16);
}

.navs {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #000000 !important;
}

.navs:hover {
    color: #1882FF !important;
}